<div class="container">
    <div class="container__text">
        Filter by keywords
    </div>

    <p-autoComplete [(ngModel)]="searchQuery" [suggestions]="filteredGroups" (completeMethod)="filterArticles($event)"
        placeholder="Binance TRC-20 Integration..." field="title" [group]="true">
        <ng-template let-group pTemplate="group">
            <div class="flex align-items-center">
                <span>{{ group.label }}</span>
            </div>
        </ng-template>
        <ng-template let-article pTemplate="item">
            <div class="flex align-items-center gap-2">
                <div [innerHTML]="highlight(article.title)" (click)="redirect(article.id)"></div>
            </div>
        </ng-template>
    </p-autoComplete>

    <div class="container__result">
        <p *ngIf="searchQuery">Results: {{ totalResults }}</p>
    </div>
</div>

<div class="card-container">
    <div class="card" *ngFor="let article of articles.slice(-6)">
        <p-card [header]="article.title" [subheader]="article.published_at | date" [style]="{ width: '400px' }">
            <ng-template pTemplate="header">
                <img alt="Card" class="image" *ngIf="article?.image_url" [src]="article?.image_url" />
            </ng-template>
            <p>
                <span [innerHTML]="highlight(article.summary | trim:100)"></span>
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button [routerLink]="['/article/', article?.id, ]" label="Read More" class="w-full"
                        styleClass="w-full">
                    </p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>