<div class="card-container">
    <div class="card" *ngFor="let article of articles?.slice(-6)">
        <p-card [header]="article.title" [subheader]="article.published_at | date" [style]="{ width: '400px' }">
            <ng-template pTemplate="header">
                <img alt="Card" class="image" *ngIf="article?.image_url" [src]="article?.image_url" />
            </ng-template>
            <p>
                {{article?.summary | trim:100}}
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button [routerLink]="['/article/', article?.id ]" label="Read More" class="w-full"
                        styleClass="w-full"></p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>